body {
    font-family: canela deck;
    text-align: justify;
    background-color: #f6f5f1;
    margin: none;
}
/*
Inicio de el header
*/
header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #f6f5f1;
    padding: 10px;
    align-items: center;
    font-size: 18px;
}

.logo {
    border-radius: 100%;
    height: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.navlink {
    font-weight: 600;
    padding-right: 20px;
}
.navlink:hover {
    color: darkcyan;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}
/*
fin del header
*/

h1 {
    font-size: 15mm;
}
img {
    text-align: center
}
.main{
    text-align: center;
}
.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
 
}
.israel {
    height: 450px;
    margin-left: 80px;
}

.description {
    font-size: x-large;
    margin-left: 120px;
    margin-right: 100px;
}

@media (max-width: 1000px){
    .article{
        flex-direction: column;
    }
    .israel {
        height: 300px;
        margin-left: 13px;
    }
    .description {
        padding: 10px 0px;
        margin-top: 30px;
        margin-right: 50px ;
        margin-left: 50px;
    }
}