@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'PT Serif', serif;
}
body {
    font-family: canela deck;
    text-align: justify;
    background-color: #f6f5f1;
    margin: none;
}
/*
Inicio de el header
*/
header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #f6f5f1;
    padding: 10px;
    align-items: center;
    font-size: 13px;
}

.logo {
    border-radius: 100%;
    height: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.navlink {
    font-weight: 600;
    padding-right: 20px;
}
.navlink:hover {
    color: darkcyan;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}
/*
fin del header
*/

h1 {
    font-size: 15mm;
}
img {
    text-align: center;
}
.main{
    text-align: center;
    
}
.momento {
    margin-right: 20%;
    margin-left: 20%;
    font-size: large;
}

@media (max-width: 700px){ 
    .momento {
        margin: 1%;
        font-size: small;
    }
}