/* Font */
@font-face {
    font-family: "MotivaSansThin";
    src: url(../fonts/MotivaSansThin.woff) format("woff");
    font-display: swap;
};

/* reset */
html, body {
    margin: 0;
    border: 0;
    font: inherit;
    height: 100px;
    /* font-family: "MotivaSansThin", sans-serif; */
}

/* Variables */
:root {
    --color-columna: linear-gradient( #0c1f50, #182041, black) ;
    --color-cajas: #191f40;
    --color-juego: #090b18;
    --enlaces: #fff;
    /* --bordes-prueba: 2px solid black; */
    --tamaño-fuente-títulos: 18px;
}

/* Configurando body */
body {
    font-family: "MotivaSansThin";
}

/* Fondo  */


body {
    background-color: black;
    background-image: url(../assets/img/chinese-recortado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /*resolvió mi problema para que bloquee el alejamiento*/

}

main {
    background: var(--color-columna);
    height: auto;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: var(--bordes-prueba);
    padding: 1rem;
    border-radius: 16px;
}

/*  header */
.header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    background-color: var(--color-juego);
    border-radius: 16px;
    padding: 1em;
    display: flex;
    
}
.avatar {
    width: 50px;
}
.nickname {
    font-size: xx-large;
    color: #fff;
    margin: 0;
    padding-left: 16px;
    padding-top: 0;
}
.padding {
    padding-left: 16px;
}
p {
    color: #fff;
}
/*  Información */
.information {
    background-color: var(--color-cajas);
    height: 35px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-radius: 16px;
}
.information p {
    font-size: 15px;
    margin: 0;
    padding: 10px;
}

/* Notas */

/* Juegos sin logros */
.juego-sin-logro {
    width: 90%;
    height: 150px; /*cambiar-aqui-tamaño*/
    border: var(--bordes-prueba);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-juego);
    border-radius: 16px;
    padding: 16px;
}
.parte-1-sin {
    height: 100%;
    border: var(--bordes-prueba);
    display: flex;
    justify-content: ;
}

.hero-sin {
    height: 150px;
    width: 350px;
}
.picture-name-sin {
    display: flex;
    justify-content: left;
    width: 70%;
    border: var(--bordes-prueba);
}
.name-sin {
    font-size: 17px;
    padding-left: 10px;
}
.tiempo-sin {
    text-align: right;
    padding: none;
    width: 250px;
    font-size: 13px;
}

/* --OTROS ESTILOS-- */

/* Enlace */
.enlace {
    text-decoration: none;
    color: var(--enlaces);
}
.enlace:hover {
    color: cornflowerblue;
}

/* Footer */

.footer {
    text-align: center;
}