body {
    background: url(assets/Fondo\ Chino.jpg) ;
    color: white;
    font-family:sans-serif;
}

.cuerpo {
    background-color: #0c1f50;
    width: 900px;
    height: 1700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
}
.actividad {
    display: flex;
    justify-content: space-between;
    background-color: #182041;
    margin-left: 3%;
    margin-right: 3%;
    border: 1.5px black solid;
    border-radius: 3%;
}
.volver {
    margin-top: 5%;
    margin-right: 3%;
}
.title {
    font-size: xx-large;
    margin-left: 3%;
}

.todos-juegos {
    height: 1500px;
    background-color:#182041 ;
    margin-left: 3%;
    margin-right: 3%;
    border: 1.5px black solid;
    border-radius: 3%;
    padding-top: 2%;
}

.juego {
    background-color:#101322;
    display: flex;
    height: 200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: left;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2%;
    border-radius: 1em;
}

.imagen-juego {
    display: flex;
}
.imagendejuego {
    width: 300px;
    height: 120px;
}
.titulo-juego {
    font-size: x-large;
}
.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: cornflowerblue;
}

.metadatos-juego {
    font-size: 10px;
    font-family: cursive;
}
.titulo-metadatos {
    padding-left: 2%;
}