body {
    background: url(assets/Fondo\ Chino.jpg);
    color: white;
    font-family:sans-serif;
}


.perfil {
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: space-between;
}

.columna1 {
    background-color: #0c1f50;
    width: 590px;
    height: 800px;
    border: 0.5px solid black;
    border-radius: 2em;
}

.icon {
    width: 150px;
    padding: 25px;
}

.nick {
    font-size: x-large;
}
.presentacion {
    font-size: 13px;
    padding-right: 5%;

}

.parte1 {
    display: flex;
    ;
}
.parte1 > p {
    font-size: xx-large;
}

.actividadreciente {
    display: flex;
    justify-content: space-between;
    background-color: #182041;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border: 1.5px solid black;
}

.juegosrecientes {
    background-color: #182041;
    height: 420px;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 5%;
}

.juego1{
    display: flex;
    border-radius: 1em;
    justify-content: space-between;
    background-color: #101322;
    height: ;
    margin-left: 3%;
    margin-right: 3%;

}
.imagendejuego {
    width: 230px;
    height: 90px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.imagen-nombre-juego {
    display: flex;
    justify-content: left;
    width: 320px;
}
.titulo-juego {
    margin-left: 5%
}

.metadatos-juego {
    font-size: 11px;
    padding-right: 3%;
    padding-top: 5%;
    text-align: right;
}




.link {
    text-decoration: none;
    color: white;    
}

.link:hover {
    color: cornflowerblue;
}

.footer {
    text-align: center;
}
.small {
    font-size: x-small;
}


.columna2 {
    background-color: #0c1f50;
    width: 300px;
    height: 800px;
    border: 0.5px solid black;
    border-radius: 2em;
}

.nivel-jugador {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-left: 29px;
    margin-right: 15px;
    background-color: ;
}
.logo-nivel {
    height: 45px;
    padding-right: 150px;
}

.insignia-destacada {
    background-color: #101322;
    height: 100px;
    border-radius: 1em;
    margin-right: 5%;
    margin-left: 5%;
}

.informacion {
    background-color: #101322;
    height: 500px;
    border-radius: 1em;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 5px;
    padding-left: 5%;
}

/* Inicio de movil  */

@media (max-width: 700px) {

    .perfil {
        display: flex;
        width: 600px;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: space-between;
    }
    
    .columna1 {
        background-color: #0c1f50;
        width: 300px;
        height: 800px;
        border: 0.5px solid black;
        border-radius: 2em;
    }
    
    .icon {
        width: 100px;
        padding: 25px;
    }
    .nick {
        font-size: large;
    }
    .presentacion {
        font-size: 8px;
        padding-right: 5%;
    
    }
    
    .parte1 {
        display: flex;
        ;
    }
    .parte1 > p {
        font-size: medium;
    }
    
    .actividadreciente {
        display: flex;
        justify-content: space-between;
        background-color: #182041;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border: 1.5px solid black;
        font-size: 12px;
    }
    
    .juegosrecientes {
        background-color: #182041;
        height: 400px;
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 5%;
    }
    
    .juego1 {
        display: flex;
        justify-content: space-between;
        background-color: #101322;
        height: ;
        margin-left: 3%;
        margin-right: 3%;;
    
    }
    .imagendejuego {
        width: 125px;
        height: 50px;
        padding-top: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
    }
    .imagen-nombre-juego {
        display: flex;
        justify-content: space-between;
        width: 180px;
        font-size: 12px;
    }
    
    .metadatos-juego {
        font-size: 8px;
        padding-right: 3%;
        padding-top: 10%;
        text-align: right;
    }
    
    .imagendejuego2 {
        width: 120px;
        height: 50px;
        padding-top: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
    }
    
    
    
    .link {
        text-decoration: none;
        color: white;    
    }
    
    .link:hover {
        color: cornflowerblue;
    }
    
    .footer {
        text-align: center;
    }
    
    
    .columna2 {
        background-color: #0c1f50;
        width: 250px;
        height: 800px;
        border: 0.5px solid black;
        border-radius: 2em;
        margin-right: 2.5em;
    }
    
    .nivel-jugador {
        display: flex;
        justify-content:space-between;
        margin-top: 20px;
        margin-left: 29px;
        margin-right: 15px;
        background-color: ;
    }
    .logo-nivel {
        height: 45px;
        padding-right: 150px;
    }
    
    .insignia-destacada {
        background-color: #101322;
        height: 100px;
        border-radius: 1em;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .informacion {
        background-color: #101322;
        height: 500px;
        border-radius: 1em;
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 5px;
        padding-left: 5%;
    }

}